h1 {
  height: 100%;
  text-align: center;
  font-family: "Bangers", cursive;
  color: orange; /* колір тексту */
  text-shadow:
    2px 2px 0 red,
    4px 4px 0 yellow; /* «мультяшна» тінь */
  font-size: 8rem; /* можна змінити під свій дизайн */
  background-color: aqua;
}

h2 {
  margin: 0;
  text-align: center;
  font-family: "Bangers", cursive;
  color: orange; /* колір тексту */
  text-shadow:
    2px 2px 0 red,
    4px 4px 0 yellow; /* «мультяшна» тінь */
  font-size: 4rem; /* можна змінити під свій дизайн */
  background-color: aqua;
}
